@use 'sass:map';
@use '../../style/base';

$gx: base.$dim-static-notice-gx;
$px: base.$dim-static-notice-px;
$py: 0.25rem;
$prefix-mr: 0.25rem;
$line-n: 2;

.notice {
  min-width: fit-content;

  @include base.style-buttonize;
  @include base.type-body-sm;

  .area-visible {
    display: flex;
    gap: $gx;
    align-items: baseline;
    width: 100%;
    padding-block: $py;
    padding-inline: $px;
    word-break: break-all;
    overflow-wrap: anywhere;

    @include base.style-set-states(
      transparent,
      base.theme-get-val('on-surface')
    );
  }
}

.grp-title {
  display: -webkit-box;
  flex-grow: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-n;
}

.prefix {
  margin-right: $prefix-mr;
  font-weight: 500;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

.sangmyung {
  .prefix {
    color: base.theme-get-val('primary');
  }
}

.seoul {
  .prefix {
    color: base.theme-get-val('tertiary');
  }
}

.cheonan {
  .prefix {
    color: base.theme-get-val('quaternary');
  }
}

.date {
  flex-shrink: 0;
  color: base.theme-get-val('on-surface-variant');
}
