@use 'sass:map';
@use '../../style/base';

.notice {
  @include base.style-buttonize;
  @include base.type-body-sm;

  .area-visible {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    width: 100%;
    padding: 4px;
    word-break: break-all;
    overflow-wrap: anywhere;

    @include base.style-set-states(
      transparent,
      base.theme-get-val('on-surface')
    );
  }
}

.grp-title {
  display: -webkit-box;
  flex-grow: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.prefix {
  margin-right: 0.25rem;
  font-weight: 500;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

.sangmyung {
  .prefix {
    color: base.theme-get-val('primary');
  }
}

.seoul {
  .prefix {
    color: base.theme-get-val('tertiary');
  }
}

.cheonan {
  .prefix {
    color: base.theme-get-val('quaternary');
  }
}

.date {
  flex-shrink: 0;
  color: base.theme-get-val('on-surface-variant');
}
