@use 'sass:map';
@use '../../style/base';

.layout {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(
    auto-fit,
    minmax(map.get(base.$dim-bp-gt, 'sm') - 2 * base.$dim-static-px-min, 1fr)
  );
  grid-auto-rows: 1fr;
  gap: base.$dim-static-px-min;
  align-items: stretch;
}

.title {
  grid-column: 1 / -1;
  padding-inline: 1rem;
  margin-bottom: 0.25rem;
}

@media (width > map.get(base.$dim-bp-gt, 'md')) {
  .title {
    padding-inline: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (width > map.get(base.$dim-bp-gt, 'lg')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xl')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xxl')) {
}
