@use 'sass:map';
@use '../../style/base';

.card {
  word-break: break-all;
  overflow-wrap: anywhere;

  @include base.style-buttonize;
}

.area {
  &-interaction {
    max-width: 55rem;
  }

  &-visible {
    width: 100%;
    height: 100%;

    @include base.style-set-states(
      base.theme-get-val('surface'),
      base.theme-get-val('primary')
    );
  }
}

.photo {
  aspect-ratio: 16 / 9;
  overflow: hidden;

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  color: base.theme-get-val('on-surface');
}

.prefix {
  @include base.type-label;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  @include base.type-title-out;
}

.preview {
  display: -webkit-box;

  // width: base.$dim-han-20ch * 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;

  @include base.type-body-out;
}

@media (width > map.get(base.$dim-bp-gt, 'md')) {
  .text {
    padding-inline: 1.5rem;
  }
}

@media (width > map.get(base.$dim-bp-gt, 'lg')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xl')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xxl')) {
}
