@use 'sass:selector';
@use '../../style/base';

.chip {
  @include base.style-buttonize;
  @include base.type-label;
}

.area {
  $root-selector: &;

  &-interaction {
    width: fit-content;
    height: 3rem;

    &[data-has-icon='true'] {
      #{selector.append($root-selector, '-visible')} {
        padding-inline: 0.5rem 1rem;
      }
    }

    &[data-chip-type='standard'] {
      #{selector.append($root-selector, '-visible')} {
        border: 0.0625rem solid base.theme-get-val('outline');

        @include base.style-set-states(
          transparent,
          base.theme-get-val('on-surface-variant')
        );
      }
    }

    &[data-chip-type='elevated'] {
      #{selector.append($root-selector, '-visible')} {
        box-shadow: base.theme-get-val('elevation-1');

        @include base.style-set-states(
          base.theme-get-val('surface-container-low'),
          base.theme-get-val('on-surface-variant')
        );
        @include base.style-set-transition(box-shadow);

        &:hover {
          box-shadow: base.theme-get-val('elevation-2');
        }

        &:active {
          box-shadow: base.theme-get-val('elevation-1');
        }
      }
    }
  }

  &-visible {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 2rem;
    padding-inline: 1rem;
    border-radius: 256rem;

    > * {
      white-space: nowrap;
    }
  }
}

.icon {
  font-size: 1.125rem;
  color: base.theme-get-val('primary');
}
