@use '../../style/base';

.Chip {
  height: 3rem;

  @include base.style-buttonize;

  > .content {
    height: 2rem;
    padding-inline: 0.75rem;
    border: 0.0625rem solid base.thm-get-color('outline');
    border-radius: 256rem;

    @include base.style-set-states(
      transparent,
      base.thm-get-color('on-surface-variant')
    );
  }
}
