@use 'sass:selector';
@use '../../style/base';
@use 'common';

$visible-h: 2.5rem;
$t: 0.0625rem;
$px: 1rem;
$standard-px: base.$dim-static-button-standard-px;
$gx: 0.5rem;
$icon-font-size: 1.125rem;

.button {
  @include common.apply;
}

.area {
  $root-selector: &;

  &-interaction {
    &[data-is-fixed-width='true'] {
      width: fit-content;
      min-width: fit-content;
    }

    &[data-button-type='standard'] {
      #{selector.append($root-selector, '-visible')} {
        padding-inline: $standard-px;
      }
    }

    &[data-button-type='outline'] {
      #{selector.append($root-selector, '-visible')} {
        padding-inline: $px - $t;
      }
    }

    &[data-has-icon='true'] {
      #{selector.append($root-selector, '-visible')} {
        padding-inline: $px;
      }

      &[data-button-type='standard'] {
        #{selector.append($root-selector, '-visible')} {
          padding-inline: $standard-px;
        }
      }

      &[data-button-type='outline'] {
        #{selector.append($root-selector, '-visible')} {
          padding-inline: $px - $t;
        }
      }
    }
  }

  &-visible {
    gap: $gx;
    height: $visible-h;
    padding-inline: $px;

    > * {
      white-space: nowrap;
    }
  }
}

.icon {
  font-size: $icon-font-size;
}
