@use 'sass:selector';
@use '../../style/base';
@use 'common';

.icon-button {
  @include common.apply;
}

.area {
  $root-selector: &;

  &-interaction {
    width: 3rem;

    &[data-button-type='outline'] {
      #{selector.append($root-selector, '-visible')} {
        width: 2.375rem;
        height: 2.375rem;
      }
    }
  }

  &-visible {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 256rem;
  }
}
