@use 'sass:selector';
@use '../../style/base';
@use 'common';

$interaction-w: 3rem;
$visible-w: 2.5rem;
$visible-h: 2.5rem;
$t: 0.0625rem;
$r: 256rem;

.icon-button {
  @include common.apply;

  &:hover {
    text-decoration: none;
  }
}

.area {
  $root-selector: &;

  &-interaction {
    width: $interaction-w;

    &[data-button-type='outline'] {
      #{selector.append($root-selector, '-visible')} {
        width: $visible-w - 2 * $t;
        height: $visible-h - 2 * $t;
      }
    }
  }

  &-visible {
    width: $visible-w;
    height: $visible-h;
    border-radius: $r;
  }
}
