@use '../../style/base';

$h: 3rem;
$pl: 12px;
$pr: 8px;
$t: 1px;
$button-interaction-w: 3rem;
$button-interaction-h: 3rem;

.search {
  display: flex;
  height: $h;
  background-color: base.theme-get-val('surface-container-highest');

  @include base.type-label-lg;

  button {
    flex-shrink: 0;
    width: $button-interaction-w;
    height: $button-interaction-h;
    border: unset;

    .icon-button {
      width: 100%;
      height: 100%;

      @include base.style-buttonize;

      .icon-button-area-visible {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 0;

        @include base.style-set-states(
          base.theme-get-val('primary'),
          base.theme-get-val('on-primary')
        );
      }
    }
  }
}

.border {
  display: flex;
  flex-grow: 1;
  padding-inline: $pl - $t 2 * $pr;
  margin-right: -$pr;
  border: $t solid transparent;

  @include base.style-set-transition(border-color);

  &:has(input:focus-visible) {
    border: $t solid base.theme-get-val('primary');
  }

  input {
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
    color: base.theme-get-val('on-surface');
    background-color: transparent;
    border: 0;

    &::placeholder {
      color: base.theme-get-val('on-surface-variant');

      @include base.style-set-transition(color);
    }

    &:autofill,
    &:autofill:hover,
    &:autofill:focus,
    &:autofill:active {
      -webkit-text-fill-color: base.theme-get-val('on-surface');
      box-shadow: 0 0 0 256rem base.theme-get-val('surface-container-highest')
        inset;
      transition: background-color 86400s ease-in-out 0s;
    }

    &:focus-visible {
      outline: none;

      &::placeholder {
        color: base.theme-get-val('outline');
      }
    }
  }
}
