@use '../../style/base';

.search {
  display: flex;
  align-items: center;
  height: 3rem;
  overflow: hidden;
  background-color: base.theme-get-val('surface-container-highest');

  // border-radius: 0.25rem;

  @include base.type-label-1;
}

.border {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  padding-inline: 0.75rem 1rem;
  margin-right: -0.5rem;
  border: 0.0625rem solid transparent;

  // border-radius: 0.25rem;

  @include base.style-set-transition(border-color);

  &:has(.input:focus-visible) {
    border: 0.0625rem solid base.theme-get-val('primary');
  }
}

.input {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  color: base.theme-get-val('on-surface');
  background-color: transparent;
  border: 0;

  &::placeholder {
    color: base.theme-get-val('on-surface-variant');

    @include base.style-set-transition(color);
  }

  &:autofill,
  &:autofill:hover,
  &:autofill:focus,
  &:autofill:active {
    -webkit-text-fill-color: base.theme-get-val('on-surface-variant');
    box-shadow: 0 0 0 1000px base.theme-get-val('surface-container-highest')
      inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:focus-visible {
    outline: none;

    &::placeholder {
      color: base.theme-get-val('outline-variant');
    }
  }
}

.button {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border: unset;

  @include base.style-buttonize;

  .area-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include base.style-set-states(
      base.theme-get-val('primary'),
      base.theme-get-val('on-primary')
    );
  }
}
