@use 'sass:map';
@use '../../style/base';

$form-mb: 0.5rem;
$chips-gx: 0.5rem;
$chips-n: 2;
$w-min: base.$dim-search-widget-w-min;

.search-widget {
  form {
    margin-bottom: $form-mb;
  }

  @include base.style-md {
    min-width: $w-min;
  }
}

.title {
  color: base.theme-get-val('on-surface-variant');

  @include base.type-title-xl;
}

.nowrap {
  white-space: nowrap;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  column-gap: $chips-gx;
  max-height: base.$dim-static-chip-interaction-h * $chips-n;
  overflow: hidden;
}
