@use '../../style/base';

.SearchWidget {
  .title {
    // container query
    // max-width: 240px;
    margin-bottom: 1rem;
    color: base.func-get-color('on-surface-variant');

    @include base.func-set-h2;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3rem;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: base.func-get-color('surface-container-highest');
    border-radius: 0.25rem;

    &-border {
      position: relative;
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: start;
      height: 100%;
      padding-inline: 0.75rem 1rem;
      margin-right: -0.5rem;
      border: 0.0625rem solid transparent;
      border-radius: 0.25rem;

      @include base.func-set-transition(border-color);

      &:has(.search-input:focus-visible) {
        border: 0.0625rem solid base.func-get-color('primary');
      }
    }

    &-input {
      flex-grow: 1;
      padding: 0;
      font-family: inherit;
      color: base.func-get-color('on-surface');
      background-color: transparent;
      border: 0;

      @include base.typo-body;

      &::placeholder {
        color: base.func-get-color('on-surface-variant');

        @include base.func-set-transition(color);
      }

      &:focus-visible {
        outline: none;

        &::placeholder {
          color: base.func-get-color('outline-variant');
        }
      }
    }

    &-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      padding: 0;
      cursor: pointer;
      border: 0;

      > .content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include base.func-set-states(
          base.func-get-color('primary'),
          base.func-get-color('on-primary')
        );

        &::after {
          position: absolute;
          inset: 0;
          z-index: -1;
          display: block;
          content: '';
        }
      }
    }
  }

  .chips {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
}
