@use 'sass:map';
@use '../../style/base';

.notice-widget {
  margin-inline: -4px;
}

.title {
  margin-inline: 4px;
  margin-bottom: 4px;
  color: base.theme-get-val('on-surface');
}

.grp {
  &-control {
    display: flex;
    gap: 12px;
    align-items: baseline;
    width: 100%;
    margin-inline: 4px;
    margin-bottom: 15px;

    > .button {
      margin-right: -4px;
    }
  }

  &-notice {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.notice:nth-of-type(n + 9) {
  display: none;
}

.tab {
  flex-grow: 1;
}

@media (width > map.get(base.$dim-bp-gt, 'md')) {
  .title {
    margin-bottom: 8px;
  }
}

@media (width > map.get(base.$dim-bp-gt, 'lg')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xl')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xxl')) {
  .notice:nth-of-type(n + 7) {
    display: none;
  }
}
