@use 'sass:list';
@use 'sass:map';
@use '../../style/base';

$mx: -1 * base.$dim-notice-px;
$grp-control-gx: base.$dim-notice-gx;
$grp-control-mb: 1rem;
$button-mr: -1 * base.$dim-button-standard-px;
$grp-notice-gy: 0;
$w-min: base.$dim-notice-widget-w-min;

.notice-widget {
  margin-inline: $mx;

  @include base.type-body-sm;

  @include base.style-lg {
    min-width: $w-min;
  }
}

.title {
  margin-inline: -1 * $mx;
  color: base.theme-get-val('on-surface');
}

.grp {
  &-control {
    display: flex;
    gap: $grp-control-gx;
    align-items: baseline;
    margin-inline: -1 * $mx;
    margin-bottom: $grp-control-mb - 0.0625rem;

    .tab {
      flex-grow: 1;

      .tab-button {
        &:nth-of-type(2) {
          &::after {
            background-color: base.theme-get-val('tertiary');
          }

          .tab-button-area-visible {
            @include base.style-set-states(
              transparent,
              base.theme-get-val('tertiary')
            );
          }
        }

        &:nth-of-type(3) {
          &::after {
            background-color: base.theme-get-val('quaternary');
          }

          .tab-button-area-visible {
            @include base.style-set-states(
              transparent,
              base.theme-get-val('quaternary')
            );
          }
        }
      }

      .selected {
        &.tab-button {
          &:nth-of-type(2) {
            .tab-button-area-visible::before {
              background-color: list.nth(
                base.style-get-states(base.theme-get-val('tertiary')),
                4
              );
            }
          }

          &:nth-of-type(3) {
            .tab-button-area-visible::before {
              background-color: list.nth(
                base.style-get-states(base.theme-get-val('quaternary')),
                4
              );
            }
          }
        }
      }
    }

    .button {
      flex-shrink: 0;
      margin-right: $button-mr;
    }
  }
}

.notices {
  display: flex;
  flex-direction: column;
  gap: $grp-notice-gy;

  .notice:nth-of-type(n + 9) {
    display: none;
  }
}
