@use 'sass:list';
@use '../../style/base';

.NavRail {
  $rail-bg: base.func-get-color('primary-seed');
  $rail-fg: base.func-get-color('on-primary-seed');
  $drawer-bg: base.func-get-transparent(base.func-get-color('primary-seed'), 1);
  $drawer-fg: base.func-get-color('on-primary-seed');

  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $rail-bg;

  &.collapsed {
    box-shadow: 0 0.25rem 0.25rem 0
        base.func-get-transparent(base.func-get-color('shadow'), 0.3),
      0 0.5rem 0.75rem 0.375rem
        base.func-get-transparent(base.func-get-color('shadow'), 0.15);
  }

  @include base.func-hide-scroll;

  .rail-scroll {
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    padding-block: 2.75rem;
    background-color: $rail-bg;
  }

  .grp-top {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    align-items: center;
    justify-content: start;
    width: 100%;

    .btn-type-logo {
      width: 100%;

      > .content {
        width: 100%;

        @include base.func-set-states(transparent, $rail-fg);
      }

      svg {
        height: 5rem;
      }
    }
  }

  .ol-dp-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .li-dp-1 {
    width: 100%;

    .btn-type-text {
      width: 100%;

      > .content {
        width: 100%;
        height: 100%;
        border-radius: unset;

        @include base.func-set-states(transparent, $rail-fg);
      }
    }
  }

  .ol-dp-2 {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: base.$var-static-nav-rail-w;
    z-index: -1;
    display: flex;
    gap: 0.25rem;
    align-items: start;
    padding-inline: 0.75rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $drawer-bg;
    box-shadow: 0 0.25rem 0.25rem 0
        base.func-get-transparent(base.func-get-color('shadow'), 0.3),
      0 0.5rem 0.75rem 0.375rem
        base.func-get-transparent(base.func-get-color('shadow'), 0.15);

    @include base.func-hide-scroll;

    .btn-type-icon {
      $my: 2.75rem;

      position: sticky;
      top: $my;
      margin-top: $my;

      > .content {
        @include base.func-set-states(transparent, $rail-fg);
      }
    }
  }

  .drawer-scroll {
    $column-w: 12.25rem;
    $gap-w: 0.5rem;
    $column-n: 2;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($column-w, 1fr));
    grid-auto-rows: min-content;
    row-gap: 3rem;
    column-gap: $gap-w;

    // width: $column-w * $column-n + $gap-w * ($column-n - 1);
    max-width: 45vw;
    min-height: 100%;
    padding-block: 10.625rem 3.5rem;
  }

  .li-dp-2 {
    .btn-type-text {
      > .content {
        justify-content: start;
        height: unset;

        @include base.func-set-states(transparent, $drawer-fg);
      }
    }
  }

  .ol-dp-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0;
    margin: 0;
    list-style: none;

    &::before {
      position: absolute;
      top: -0.0625rem;
      left: 0.75rem;
      display: block;
      width: 1rem;
      height: 0.125rem;
      content: '';
      background-color: $drawer-fg;
    }
  }

  .li-dp-3 {
    width: 100%;
  }

  .grp--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;

    .btn-type-icon {
      > .content {
        @include base.func-set-states(transparent, $rail-fg);
      }
    }
  }

  .grp--lang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.75rem;
  }
}
