@use '../../style/base';

$rail-bg: base.theme-get-val('primary-seed');
$rail-fg: base.theme-get-val('on-primary-seed');
$drawer-bg: base.style-get-transparent(
  base.theme-get-val('primary-seed'),
  0.87
);
$drawer-fg: base.theme-get-val('on-primary-seed');

.nav-rail {
  position: relative;
  width: min-content;
  height: 100dvh;

  &.collapsed {
    box-shadow: base.theme-get-val('elevation-2');
  }
}

.viewport {
  &-rail {
    @include base.style-hide-scrollbar;

    height: 100%;
    overflow-x: visible;
    overflow-y: scroll;
    background-color: $rail-bg;
  }

  &-drawer {
    backdrop-filter: blur(0.25rem);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: -1;
    display: flex;
    gap: 0.25rem;
    align-items: start;
    padding-inline: 1.9375rem 0.75rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $drawer-bg;
    border-left: 0.0625rem solid
      base.style-get-transparent(base.theme-get-val('on-primary'), 0.16);
    box-shadow: base.theme-get-val('elevation-2');

    @include base.style-hide-scrollbar;

    .icon-button {
      &.icon-button-area-interaction {
        $my: 2.75rem;

        position: sticky;
        top: $my;
        margin-top: $my;

        .icon-button-area-visible {
          @include base.style-set-states(
            transparent,
            base.theme-get-val('on-primary-seed')
          );
        }
      }
    }
  }
}

.scroll {
  &-rail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    padding-block: 2.5rem 2.75rem;
    background-color: $rail-bg;
  }

  &-drawer {
    $column-w: 12rem;
    $gap-w: 0.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($column-w, 1fr));
    grid-auto-rows: min-content;
    row-gap: 6rem;
    column-gap: $gap-w;
    max-width: min(
      60vw - base.$dim-static-nav-rail-w,
      4 * $column-w + 3 * $gap-w
    );
    min-height: 100%;
    padding-block: 11.25rem 3.25rem;
  }
}

.grp {
  &-top {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
    width: 100%;

    > .button {
      &.button-area-interaction {
        width: 100%;
        height: fit-content;

        .button-area-visible {
          width: 100%;
          height: fit-content;
          padding: 1rem;

          @include base.style-set-states(
            transparent,
            base.theme-get-val('on-primary-seed')
          );

          svg {
            height: 5rem;
          }
        }
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;

    .icon-button {
      &.icon-button-area-interaction {
        .icon-button-area-visible {
          @include base.style-set-states(
            transparent,
            base.theme-get-val('on-primary-seed')
          );
        }
      }
    }
  }

  &-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.75rem;
  }
}

.ol-dp-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
}

.li-dp-1 {
  width: 100%;

  > .button {
    &.button-area-interaction {
      width: 100%;
      height: 3rem;

      .button-area-visible {
        width: 100%;
        height: 100%;

        @include base.style-set-states(
          transparent,
          base.theme-get-val('on-primary-seed')
        );
      }
    }
  }
}

.ol-dp-2 {
  list-style: none;
}

.li-dp-2 {
  .button {
    &.button-area-interaction {
      .button-area-visible {
        @include base.style-set-states(
          transparent,
          base.theme-get-val('on-primary-seed')
        );
      }
    }
  }
}

.ol-dp-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  list-style: none;

  &::before {
    position: absolute;
    top: -0.0625rem;
    left: 0.75rem;
    display: block;
    width: 1rem;
    height: 0.125rem;
    content: '';
    background-color: $drawer-fg;
  }
}

.li-dp-3 {
}
