@use 'sass:map';
@use '../style/base';

.layout {
}

.image {
  aspect-ratio: 16 / 9;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.widget-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: map.get(base.$dim-gap-y, 'sm');
  column-gap: map.get(base.$dim-gap-x, 'sm');
  align-items: center;
  justify-content: center;
  padding-block: map.get(base.$dim-py, 'sm');
  padding-inline: map.get(base.$dim-px, 'sm');
  background-color: base.theme-get-val('surface-container');

  @include base.style-md {
    row-gap: map.get(base.$dim-gap-y, 'md');
    column-gap: map.get(base.$dim-gap-x, 'md');
    padding-block: map.get(base.$dim-py, 'md');
    padding-inline: map.get(base.$dim-px, 'md');
  }

  @include base.style-lg {
    row-gap: map.get(base.$dim-gap-y, 'lg');
    column-gap: map.get(base.$dim-gap-x, 'lg');
    padding-block: map.get(base.$dim-py, 'lg');
    padding-inline: map.get(base.$dim-px, 'lg');
  }

  @include base.style-xl {
    row-gap: map.get(base.$dim-gap-y, 'xl');
    column-gap: map.get(base.$dim-gap-x, 'xl');
    padding-block: map.get(base.$dim-py, 'xl');
    padding-inline: map.get(base.$dim-px, 'xl');
  }

  @include base.style-xxl {
    row-gap: map.get(base.$dim-gap-y, 'xxl');
    column-gap: map.get(base.$dim-gap-x, 'xxl');
    padding-block: map.get(base.$dim-py, 'xxl');
    padding-inline: map.get(base.$dim-px, 'xxl');
  }
}

.search-widget {
  flex: 1 1 base.$dim-static-search-widget-w-min;

  // @include base.style-md {
  // }
}

.notice-widget {
  flex: 1 1 base.$dim-static-notice-widget-w-min;

  @include base.type-body-sm;

  // @include base.style-md {
  // }
}

.shortcut {
  min-height: 6.25rem;
  background-color: base.theme-get-val('surface-container-low');
}
