@use 'sass:map';
@use '../style/base';

.imagery {
  // 1:1 < height < 3:4
  height: clamp(100vw, 100dvh, calc(100vw * 4 / 3));
  background-color: base.theme-get-val('surface-dim');

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.widget {
  $px: map.get(base.$dim-container-px, 'sm');
  $py: map.get(base.$dim-container-py, 'sm');

  padding-block: $py;
  padding-inline: $px;
  background-color: base.theme-get-val('surface-container-low');

  &-wrap {
    $gap-x: map.get(base.$dim-container-gx, 'sm');
    $gap-y: map.get(base.$dim-container-gy, 'sm');

    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: $gap-y;
    column-gap: $gap-x;

    // max-width: base.$dim-static-container-w-max;
    margin-inline: auto;
  }
}

// .container {
//   $px: map.get(base.$dim-container-px, 'sm');
//   $py: map.get(base.$dim-container-py, 'sm');

//   width: min(base.$dim-static-container-w-max, calc(100% - 2 * $px));
//   padding-block: $py;
//   margin-inline: auto;
// }

// main,
// footer {
//   background-color: base.theme-get-val('surface-container-highest');
// }

@media (width > map.get(base.$dim-bp-gt, 'md')) {
  $px: map.get(base.$dim-container-px, 'md');
  $py: map.get(base.$dim-container-py, 'md');
  $gap-x: map.get(base.$dim-container-gx, 'md');
  $gap-y: map.get(base.$dim-container-gy, 'md');

  // body {
  //   word-break: keep-all;
  //   overflow-wrap: break-word;
  // }

  .widget {
    padding-block: $py;
    padding-inline: $px;

    &-wrap {
      row-gap: $gap-y;
      column-gap: $gap-x;
    }
  }

  // .container {
  //   width: min(base.$dim-static-container-w-max, calc(100% - 2 * $px));
  //   padding-block: $py;
  // }
}

@media (width > map.get(base.$dim-bp-gt, 'lg')) {
  $px: map.get(base.$dim-container-px, 'lg');
  $py: map.get(base.$dim-container-py, 'lg');
  $gap-x: map.get(base.$dim-container-gx, 'lg');
  $gap-y: map.get(base.$dim-container-gy, 'lg');

  .grid {
    display: grid;

    // 16:9 < height < 4:3
    grid-template-rows: clamp(
      calc(100vw - base.$dim-static-nav-rail-w) * 9 / 16,
      100dvh,
      calc((100vw - base.$dim-static-nav-rail-w) * 3 / 4)
    );

    // grid-template-columns: base.$dim-static-nav-rail-w minmax(0, 1fr);

    // > * {
    //   grid-column: 2;
    // }
  }

  .nav-bar {
    display: none;
  }

  .nav-rail {
    display: block;
  }

  .imagery {
    height: unset;
  }

  .widget {
    padding-block: $py;
    padding-inline: $px;

    &-wrap {
      row-gap: $gap-y;
      column-gap: $gap-x;
    }
  }

  // .container {
  //   width: min(base.$dim-static-container-w-max, calc(100% - 2 * $px));
  //   padding-block: $py;
  // }
}

@media (width > map.get(base.$dim-bp-gt, 'xl')) {
  $px: map.get(base.$dim-container-px, 'xl');
  $py: map.get(base.$dim-container-py, 'xl');
  $gap-x: map.get(base.$dim-container-gx, 'xl');
  $gap-y: map.get(base.$dim-container-gy, 'xl');

  .widget {
    padding-block: $py;
    padding-inline: $px;

    &-wrap {
      grid-template-rows: min-content;
      grid-template-columns:
        minmax(20rem, 30rem)
        minmax(map.get(base.$dim-notice-widget-w, '40'), 1fr);
      row-gap: $gap-y;
      column-gap: $gap-x;
      align-items: center;
    }
  }

  // .container {
  //   width: min(base.$dim-static-container-w-max, calc(100% - 2 * $px));
  //   padding-block: $py;
  // }
}

@media (width > map.get(base.$dim-bp-gt, 'xxl')) {
  $px: map.get(base.$dim-container-px, 'xxl');
  $py: map.get(base.$dim-container-py, 'xxl');
  $gap-x: map.get(base.$dim-container-gx, 'xxl');
  $gap-y: map.get(base.$dim-container-gy, 'xxl');

  .grid {
    // 56.25rem < height < 100dvh
    grid-template-rows: minmax(56.25rem, 100dvh);

    // fix later
    grid-template-columns:
      minmax(0, 1fr)
      calc(map.get(base.$dim-notice-widget-w, '40') + 2 * $px);

    // > * {
    //   grid-column: 2 / -1;
    // }
  }

  .imagery {
    grid-column: 1;
  }

  .widget {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-content: center;
    padding-block: $py;
    padding-inline: $px;

    &-wrap {
      grid-template-rows: min-content min-content;
      grid-template-columns: minmax(0, 1fr);
      row-gap: $gap-y;
      column-gap: $gap-x;
    }
  }

  // .container {
  //   width: min(base.$dim-static-container-w-max, calc(100% - 2 * $px));
  //   padding-block: $py;
  // }
}
