@use 'sass:map';
@use '../style/base';

$hero-image-h-min: (
  'sm': calc(100dvh - base.$dim-nav-bar-h),
  'md': 0,
  'lg': 0,
  'xl': 0,
  'xxl': 3.75rem,
);
$widget-container-px: (
  'sm': map.get(base.$dim-container-px, 'sm'),
  'md': map.get(base.$dim-container-px, 'md'),
  'lg': map.get(base.$dim-container-px, 'lg'),
  'xl': map.get(base.$dim-container-px, 'xl'),
  'xxl': 3.75rem,
);
$widget-container-py: (
  'sm': map.get(base.$dim-container-py, 'sm'),
  'md': map.get(base.$dim-container-py, 'md'),
  'lg': map.get(base.$dim-container-py, 'lg'),
  'xl': map.get(base.$dim-container-py, 'xl'),
  'xxl': 3.5rem,
);
$widget-container-gx: (
  'sm': map.get(base.$dim-container-gx, 'sm'),
  'md': map.get(base.$dim-container-gx, 'md'),
  'lg': map.get(base.$dim-container-gx, 'lg'),
  'xl': map.get(base.$dim-container-gx, 'xl'),
  'xxl': map.get(base.$dim-container-gx, 'xxl'),
);
$widget-container-gy: (
  'sm': map.get(base.$dim-container-gy, 'sm'),
  'md': map.get(base.$dim-container-gy, 'md'),
  'lg': map.get(base.$dim-container-gy, 'lg'),
  'xl': map.get(base.$dim-container-gy, 'xl'),
  'xxl': map.get(base.$dim-container-gy, 'xxl'),
);
$search-widget-flex-basis: base.$dim-search-widget-w-min;
$notice-widget-w-min: base.$dim-notice-widget-w-min;
$widget-container-w-max-gte-xxl: calc(
  $notice-widget-w-min + 2 * map.get($widget-container-px, 'xxl')
);

.hero {
  &-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include base.style-xxl {
      flex-wrap: nowrap;
    }
  }

  &-image {
    height: calc(100dvh - base.$dim-nav-bar-h);

    @include base.style-lg {
      height: 100dvh;
    }

    @include base.style-xxl {
      height: unset;
      min-height: 100dvh;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}

.widget {
  &-container {
    padding-block: map.get($widget-container-py, 'sm');
    padding-inline: map.get($widget-container-px, 'sm');
    margin-inline: auto;
    background-color: base.theme-get-val('surface-container');

    @include base.style-md {
      padding-block: map.get($widget-container-py, 'md');
      padding-inline: map.get($widget-container-px, 'md');
    }

    @include base.style-lg {
      padding-block: map.get($widget-container-py, 'lg');
      padding-inline: map.get($widget-container-px, 'lg');
    }

    @include base.style-xl {
      padding-block: map.get($widget-container-py, 'xl');
      padding-inline: map.get($widget-container-px, 'xl');
    }

    @include base.style-xxl {
      flex: 1 0
        calc($notice-widget-w-min + 2 * map.get($widget-container-px, 'xxl'));
      padding-block: map.get($widget-container-py, 'xxl');
      padding-inline: map.get($widget-container-px, 'xxl');

      @include base.type-body-sm;
    }
  }

  &-layout {
    display: flex;
    flex-wrap: wrap;
    row-gap: map.get($widget-container-gy, 'sm');
    column-gap: map.get($widget-container-gx, 'sm');
    align-items: center;
    justify-content: center;
    background-color: base.theme-get-val('surface-container');

    @include base.style-md {
      row-gap: map.get($widget-container-gy, 'md');
      column-gap: map.get($widget-container-gx, 'md');
    }

    @include base.style-lg {
      row-gap: map.get($widget-container-gy, 'lg');
      column-gap: map.get($widget-container-gx, 'lg');
    }

    @include base.style-xl {
      row-gap: map.get($widget-container-gy, 'xl');
      column-gap: map.get($widget-container-gx, 'xl');
    }

    @include base.style-xxl {
      row-gap: map.get($widget-container-gy, 'xxl');
      column-gap: map.get($widget-container-gx, 'xxl');
    }
  }

  &-search {
    flex: 1 1 $search-widget-flex-basis;
  }

  &-notice {
    flex: 1 1 $notice-widget-w-min;

    @include base.type-body-sm;
  }
}

.shortcut {
  min-height: 6.25rem;
  background-color: base.theme-get-val('surface-container-low');
}
