@use 'sass:map';
@use '../style/base';

$container-px: (
  'sm': map.get(base.$dim-container-px, 'sm'),
  'md': map.get(base.$dim-container-px, 'md'),
  'lg': map.get(base.$dim-container-px, 'lg'),
  'xl': map.get(base.$dim-container-px, 'xl'),
  'xxl': map.get(base.$dim-container-px, 'xxl'),
);
$tab-px: (
  'sm': 0.5rem,
  'md': 1.75rem,
  'lg': 4.25rem,
  'xl': 4.25rem,
  'xxl': 4.25rem,
);
$container-py: (
  'sm': 1.25rem,
  'md': 2.5rem,
  'lg': 3rem,
  'xl': 3rem,
  'xxl': 3rem,
);
$title-mb: 12px;
$title-mb-gte-md: 1rem;
$article-py: 1rem;
$article-py-gte-md: 1.5rem;
$article-py-gte-xxl: 2rem;
$article-index-py: 1rem;
$article-index-py-gte-md: 1.5rem;
$article-index-py-gte-xxl: $article-py-gte-xxl;
$article-container-gx: 2.25rem;
$article-text-w-max: base.$dim-hangul-20ch * 3;
$between-paragraph-gy: 0.75rem;
$between-paragraph-gy-gte-md: 1rem;
$last-paragraph-mb: 1.5rem;
$last-paragraph-mb-gte-md: 2rem;
$first-paragraph-mb: 0.75rem;
$first-paragraph-mb-gte-md: 1rem;
$article-quote-w-max: base.$dim-hangul-20ch * 2;
$article-quote-bl: 0.125rem;
$article-quote-pl: 0.75rem;
$article-quote-pl-gte-md: 1rem;
$column-gx: 1.5rem;

// $container-gx: (
//   'sm': map.get(base.$dim-container-gx, 'sm'),
//   'md': map.get(base.$dim-container-gx, 'md'),
//   'lg': map.get(base.$dim-container-gx, 'lg'),
//   'xl': map.get(base.$dim-container-gx, 'xl'),
//   'xxl': map.get(base.$dim-container-gx, 'xxl'),
// );
// $container-gy: (
//   'sm': map.get(base.$dim-container-gy, 'sm'),
//   'md': map.get(base.$dim-container-gy, 'md'),
//   'lg': map.get(base.$dim-container-gy, 'lg'),
//   'xl': map.get(base.$dim-container-gy, 'xl'),
//   'xxl': map.get(base.$dim-container-gy, 'xxl'),
// );

$w-max: base.$dim-container-w-max;
$article-w-max: 1024px;

.container {
  background-color: base.theme-get-val('surface');

  @include base.type-body;
}

.layout {
  margin-block: map.get($container-py, 'sm') 2 * map.get($container-py, 'sm');

  @include base.style-md {
    margin-block: map.get($container-py, 'md') 2 * map.get($container-py, 'md');
  }

  @include base.style-lg {
    margin-block: map.get($container-py, 'lg') 2 * map.get($container-py, 'lg');
  }

  @include base.style-xl {
    margin-block: map.get($container-py, 'xl') 2 * map.get($container-py, 'xl');
  }

  @include base.style-xxl {
    margin-block: map.get($container-py, 'xxl') 2 *
      map.get($container-py, 'xxl');
  }
}

.title {
  &-container {
    width: min($w-max, 100% - 2 * map.get($container-px, 'sm'));
    margin-inline: auto;

    @include base.style-md {
      width: min($w-max, 100% - 2 * map.get($container-px, 'md'));
    }

    @include base.style-lg {
      width: min($w-max, 100% - 2 * map.get($container-px, 'lg'));
    }

    @include base.style-xl {
      width: min($w-max, 100% - 2 * map.get($container-px, 'xl'));
    }

    @include base.style-xxl {
      width: min($w-max, 100% - 2 * map.get($container-px, 'xxl'));
    }

    .tab {
      &[data-has-control='responsive'] {
        margin-inline: -1 *
          (map.get($container-px, 'sm') - map.get($tab-px, 'sm'));

        @include base.style-md {
          margin-inline: -1 *
            (map.get($container-px, 'md') - map.get($tab-px, 'md'));
        }

        @include base.style-lg {
          margin-inline: -1 *
            (map.get($container-px, 'lg') - map.get($tab-px, 'lg'));
        }

        @include base.style-xl {
          margin-inline: unset;
        }
      }

      &[data-has-control='true'] {
        margin-inline: -1 *
          (map.get($container-px, 'sm') - map.get($tab-px, 'sm'));

        @include base.style-md {
          margin-inline: -1 *
            (map.get($container-px, 'md') - map.get($tab-px, 'md'));
        }

        @include base.style-lg {
          margin-inline: -1 *
            (map.get($container-px, 'lg') - map.get($tab-px, 'lg'));
        }

        @include base.style-xl {
          margin-inline: -1 *
            (map.get($container-px, 'xl') - map.get($tab-px, 'xl'));
        }

        @include base.style-xxl {
          margin-inline: -1 *
            (map.get($container-px, 'xxl') - map.get($tab-px, 'xxl'));
        }
      }
    }
  }

  margin-bottom: $title-mb;

  @include base.style-md {
    margin-bottom: $title-mb-gte-md;
  }
}

.article {
  &-container {
    width: min($article-w-max, 100% - 2 * map.get($container-px, 'sm'));
    margin-inline: auto;

    @include base.style-md {
      width: min($article-w-max, 100% - 2 * map.get($container-px, 'md'));
    }

    @include base.style-lg {
      width: min($article-w-max, 100% - 2 * map.get($container-px, 'lg'));
    }

    @include base.style-xl {
      width: min($article-w-max, 100% - 2 * map.get($container-px, 'xl'));
    }

    @include base.style-xxl {
      display: grid;
      grid-template-columns: 1024px 1fr;
      column-gap: $article-container-gx;
      width: min($w-max, 100% - 2 * map.get($container-px, 'xxl'));
    }
  }

  &-index-container {
    position: relative;
    grid-row: 1;
    grid-column: 2;

    @include base.style-xxl {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &-index {
    position: sticky;
    top: 32px - 1px;
    margin-top: $article-index-py - 0.0625rem;

    @include base.type-label;

    @include base.style-md {
      margin-top: $article-index-py-gte-md;
    }

    @include base.style-xxl {
      margin-top: $article-index-py-gte-xxl - 0.0625rem;
    }

    &-title {
      margin-bottom: 0.25rem;
    }

    ul {
      list-style: none;

      @include base.type-label-lg;

      li {
        display: flex;
        align-items: center;
        height: 2rem;
      }
    }
  }

  grid-row: 1;
  grid-column: 1;
  padding-block: $article-py;
  word-break: break-all;
  overflow-wrap: anywhere;

  @include base.style-md {
    padding-block: $article-py-gte-md;
    word-break: keep-all;
    overflow-wrap: break-word;
  }

  @include base.style-xxl {
    grid-row: 1;
    grid-column: 1;
    padding-block: $article-py-gte-xxl - 0.0625rem $article-py-gte-xxl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $article-text-w-max;
  }

  h5,
  h6 {
    position: relative;
    padding-left: 1.25rem;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      border: 0.25rem solid;
      border-radius: 256rem;
      transform: translateY(-50%);
    }
  }

  h5::before {
    // border-color: base.theme-get-val('tertiary-outline');
    color: base.theme-get-val('primary-outline');
  }

  h6::before {
    // border-color: base.theme-get-val('quaternary-outline');
    color: base.theme-get-val('quaternary-outline');
  }

  strong,
  em {
    font-weight: 500;
    color: base.theme-get-val('quaternary');
  }

  p {
    max-width: $article-text-w-max;

    // p태그 직후의 p태그: 문단 사이
    + p {
      margin-top: $between-paragraph-gy;

      @include base.style-md {
        margin-top: $between-paragraph-gy-gte-md;
      }
    }

    // p태그 직후의 div; 들: 문단 사이
    + div {
      margin-top: $between-paragraph-gy;

      @include base.style-md {
        margin-top: $between-paragraph-gy-gte-md;
      }
    }

    // h1, h2, h3, h4, h5, h6 직전의 p태그: 마지막 문단
    &:has(+ h1),
    &:has(+ h2),
    &:has(+ h3),
    &:has(+ h4),
    &:has(+ h5),
    &:has(+ h6) {
      margin-bottom: $last-paragraph-mb;

      @include base.style-md {
        margin-bottom: $last-paragraph-mb-gte-md;
      }
    }
  }

  div {
    // div태그 직후의 p태그: 문단 사이
    + p {
      margin-top: $between-paragraph-gy;

      @include base.style-md {
        margin-top: $between-paragraph-gy-gte-md;
      }
    }

    // div태그 직후의 div들: 문단 사이
    + div {
      margin-top: $between-paragraph-gy;

      @include base.style-md {
        margin-top: $between-paragraph-gy-gte-md;
      }
    }

    // h1, h2, h3, h4, h5, h6 직전의 div태그: 마지막 문단
    &:has(+ h1),
    &:has(+ h2),
    &:has(+ h3),
    &:has(+ h4),
    &:has(+ h5),
    &:has(+ h6) {
      margin-bottom: $last-paragraph-mb;

      @include base.style-md {
        margin-bottom: $last-paragraph-mb-gte-md;
      }
    }
  }

  h5,
  h6 {
    // h5, h6태그 직후의 p, div태그: 제목 후 첫 문단
    + p,
    + div {
      padding-top: $first-paragraph-mb;
      border-top: 1px solid base.theme-get-val('outline-variant');

      @include base.style-md {
        padding-top: $first-paragraph-mb-gte-md;
      }
    }
  }

  &-quote {
    @include base.type-subtitle;

    &-text {
      box-sizing: content-box;
      max-width: $article-quote-w-max;
      padding-left: $article-quote-pl - $article-quote-bl;
      text-wrap: balance;
      word-break: keep-all;
      overflow-wrap: break-word;
      border-left: $article-quote-bl solid base.theme-get-val('primary-outline');

      @include base.style-md {
        padding-left: $article-quote-pl-gte-md - $article-quote-bl;
      }
    }
  }

  &-column {
    display: flex;
    flex-flow: row-reverse wrap;

    // 변수화
    row-gap: $between-paragraph-gy;

    // 변수화
    column-gap: $column-gx;
    justify-content: center;

    @include base.style-md {
      // 변수화
      row-gap: $between-paragraph-gy-gte-md;
    }

    img {
      align-self: center;
      width: 360px;
    }

    &-text {
      flex-basis: base.$dim-hangul-20ch;
      flex-grow: 1;

      @include base.type-body;
    }
  }
}
