$red-0: #000;
$red-10: #410002;
$red-20: #690005;
$red-30: #93000a;
$red-40: #ba1a1a;
$red-50: #de3730;
$red-60: #ff5449;
$red-70: #ff897d;
$red-80: #ffb4ab;
$red-90: #ffdad6;
$red-95: #ffedea;
$red-99: #fffbff;
$red-100: #fff;
$grey-light-seed: #d9d9d9;
$grey-light-0: #000;
$grey-light-10: #1a1c1c;
$grey-light-20: #2f3131;
$grey-light-30: #454747;
$grey-light-40: #5d5e5f;
$grey-light-50: #767777;
$grey-light-60: #909191;
$grey-light-70: #ababab;
$grey-light-80: #c6c6c6;
$grey-light-90: #e2e2e2;
$grey-light-95: #f1f1f0;
$grey-light-99: #fcfcfc;
$grey-light-100: #fff;
$grey-light-4: #0d0e0f;
$grey-light-6: #121414;
$grey-light-12: #1e2020;
$grey-light-17: #282a2b;
$grey-light-22: #333535;
$grey-light-24: #38393a;
$grey-light-87: #d9d9d9;
$grey-light-92: #e8e8e8;
$grey-light-94: #eee;
$grey-light-96: #f4f3f3;
$grey-light-98: #faf9f9;
$silver-seed: #857c7a;
$silver-0: #000;
$silver-10: #201a19;
$silver-20: #352f2d;
$silver-30: #4d4543;
$silver-40: #655d5b;
$silver-50: #7e7573;
$silver-60: #988f8c;
$silver-70: #b3a9a7;
$silver-80: #cfc4c2;
$silver-90: #ece0dd;
$silver-95: #faeeeb;
$silver-99: #fffbff;
$silver-100: #fff;
$grey-dark-seed: #333b3d;
$grey-dark-0: #000;
$grey-dark-10: #151d1f;
$grey-dark-20: #2a3234;
$grey-dark-30: #40484a;
$grey-dark-40: #586062;
$grey-dark-50: #70787b;
$grey-dark-60: #8a9294;
$grey-dark-70: #a4adaf;
$grey-dark-80: #c0c8ca;
$grey-dark-90: #dce4e6;
$grey-dark-95: #eaf2f4;
$grey-dark-99: #f7fdff;
$grey-dark-100: #fff;
$blue-seed: #0e207f;
$blue-0: #000;
$blue-10: #000e60;
$blue-20: #152381;
$blue-30: #2f3e99;
$blue-40: #4856b1;
$blue-50: #616fcc;
$blue-60: #7b89e9;
$blue-70: #98a5ff;
$blue-80: #bbc3ff;
$blue-90: #dfe0ff;
$blue-99: #fffbff;
$blue-95: #f0efff;
$blue-100: #fff;
$gold-seed: #8d6e26;
$gold-0: #000;
$gold-10: #261a00;
$gold-20: #402d00;
$gold-30: #5c4300;
$gold-40: #775a12;
$gold-50: #92722a;
$gold-60: #ae8c41;
$gold-70: #cba659;
$gold-80: #e8c171;
$gold-90: #ffdea0;
$gold-95: #ffefd4;
$gold-99: #fffbff;
$gold-100: #fff;
$blue-alt-seed: #2a2c3f;
$blue-alt-0: #000;
$blue-alt-10: #181a2c;
$blue-alt-20: #2d2f42;
$blue-alt-30: #44455a;
$blue-alt-40: #5b5d72;
$blue-alt-50: #74758c;
$blue-alt-60: #8e8fa6;
$blue-alt-70: #a9a9c1;
$blue-alt-80: #c4c5dd;
$blue-alt-90: #e0e0fa;
$blue-alt-95: #f1efff;
$blue-alt-99: #fffbff;
$blue-alt-100: #fff;
$white: #fff;
$black: #000;
$logo-blue: #004896;
$logo-grey: #4c5c65;
