@use 'color-token';

$light: (
  'link': color-token.$blue-40,
  'link-hover': color-token.$blue-30,
  'link-variant': color-token.$gold-40,
  'link-variant-hover': color-token.$gold-30,
  'shadow': color-token.$grey-flat-00,
  'surface-bright': color-token.$grey-flat-98,
  'surface': color-token.$grey-flat-98,
  'surface-dim': color-token.$grey-flat-87,
  'surface-container': color-token.$grey-flat-94,
  'outline-variant': color-token.$grey-dark-80,
  'surface-container-low': color-token.$grey-flat-96,
  'surface-container-highest': color-token.$grey-flat-90,
  'surface-container-lowest': color-token.$grey-flat-100,
  'outline': color-token.$grey-dark-50,
  'on-surface': color-token.$grey-flat-10,
  'on-surface-variant': color-token.$grey-dark-30,
  'surface-container-high': color-token.$grey-flat-92,
  'on-error-container': color-token.$red-10,
  'error-container': color-token.$red-90,
  'on-error': color-token.$red-100,
  'error': color-token.$red-40,
  'on-quaternary-fixed-variant': color-token.$pink-20,
  'on-quaternary-fixed': color-token.$pink-10,
  'quaternary-fixed-dim': color-token.$pink-80,
  'quaternary-fixed': color-token.$pink-90,
  'on-quaternary-container': color-token.$pink-10,
  'quaternary-container': color-token.$pink-90,
  'on-quaternary': color-token.$pink-100,
  'quaternary': color-token.$pink-40,
  'on-tertiary-fixed-variant': color-token.$gold-20,
  'on-tertiary-fixed': color-token.$gold-10,
  'tertiary-fixed-dim': color-token.$gold-80,
  'tertiary-fixed': color-token.$gold-90,
  'on-tertiary-container': color-token.$gold-10,
  'tertiary-container': color-token.$gold-90,
  'on-tertiary': color-token.$gold-100,
  'tertiary': color-token.$gold-40,
  'on-secondary-fixed-variant': color-token.$blue-alt-30,
  'secondary-fixed-dim': color-token.$blue-alt-80,
  'secondary-container': color-token.$blue-alt-90,
  'on-secondary-container': color-token.$blue-alt-10,
  'secondary': color-token.$blue-alt-40,
  'on-secondary-fixed': color-token.$blue-alt-10,
  'on-secondary': color-token.$blue-alt-100,
  'secondary-fixed': color-token.$blue-alt-90,
  'on-primary-fixed-variant': color-token.$blue-30,
  'on-primary-fixed': color-token.$blue-10,
  'primary-fixed': color-token.$blue-90,
  'on-primary-seed': color-token.$blue-100,
  'primary-seed': color-token.$blue-20,
  'on-primary-seed-variant': color-token.$blue-80,
  'on-primary-container': color-token.$blue-10,
  'primary-fixed-dim': color-token.$blue-80,
  'primary-container': color-token.$blue-90,
  'on-primary': color-token.$blue-100,
  'primary': color-token.$blue-40,
  'elevation-1': (
    0 0.0625rem 0.1875rem 0.0625rem rgb(0 0 0 / 15%),
    0 0.0625rem 0.125rem 0 rgb(0 0 0 / 30%),
  ),
  'elevation-2': (
    0 0.125rem 0.375rem 0.125rem rgb(0 0 0 / 15%),
    0 0.0625rem 0.125rem 0 rgb(0 0 0 / 30%),
  ),
  'elevation-3': (
    0 0.0625rem 0.1875rem 0 rgb(0 0 0 / 30%),
    0 0.25rem 0.5rem 0.1875rem rgb(0 0 0 / 15%),
  ),
  'elevation-4': (
    0 0.0625rem 0.1875rem 0 rgb(0 0 0 / 30%),
    0 0.25rem 0.5rem 0.1875rem rgb(0 0 0 / 15%),
  ),
  'elevation-5': (
    0 0.25rem 0.25rem 0 rgb(0 0 0 / 30%),
    0 0.5rem 0.75rem 0.375rem rgb(0 0 0 / 15%),
  ),
);
$dark: (
  'link': color-token.$blue-80,
  'link-hover': color-token.$blue-90,
  'link-variant': color-token.$gold-80,
  'link-variant-hover': color-token.$gold-90,
  'shadow': color-token.$grey-flat-00,
  'surface-bright': color-token.$grey-flat-24,
  'surface': color-token.$grey-flat-06,
  'surface-dim': color-token.$grey-flat-06,
  'surface-container': color-token.$grey-flat-12,
  'outline-variant': color-token.$grey-dark-30,
  'surface-container-low': color-token.$grey-flat-10,
  'surface-container-highest': color-token.$grey-flat-22,
  'surface-container-lowest': color-token.$grey-flat-04,
  'outline': color-token.$grey-dark-60,
  'on-surface': color-token.$grey-flat-90,
  'on-surface-variant': color-token.$grey-dark-80,
  'surface-container-high': color-token.$grey-flat-17,
  'on-error-container': color-token.$red-90,
  'error-container': color-token.$red-30,
  'on-error': color-token.$red-20,
  'error': color-token.$red-80,
  'on-quaternary-fixed-variant': color-token.$pink-30,
  'on-quaternary-fixed': color-token.$pink-10,
  'quaternary-fixed-dim': color-token.$pink-80,
  'quaternary-fixed': color-token.$pink-90,
  'on-quaternary-container': color-token.$pink-90,
  'quaternary-container': color-token.$pink-30,
  'on-quaternary': color-token.$pink-20,
  'quaternary': color-token.$pink-80,
  'on-tertiary-fixed-variant': color-token.$gold-30,
  'on-tertiary-fixed': color-token.$gold-10,
  'tertiary-fixed-dim': color-token.$gold-80,
  'tertiary-fixed': color-token.$gold-90,
  'on-tertiary-container': color-token.$gold-90,
  'tertiary-container': color-token.$gold-30,
  'on-tertiary': color-token.$gold-20,
  'tertiary': color-token.$gold-80,
  'on-secondary-fixed-variant': color-token.$blue-alt-30,
  'secondary-fixed-dim': color-token.$blue-alt-80,
  'secondary-container': color-token.$blue-alt-30,
  'on-secondary-container': color-token.$blue-alt-90,
  'secondary': color-token.$blue-alt-80,
  'on-secondary-fixed': color-token.$blue-alt-10,
  'on-secondary': color-token.$blue-alt-20,
  'secondary-fixed': color-token.$blue-alt-90,
  'on-primary-fixed-variant': color-token.$blue-30,
  'on-primary-fixed': color-token.$blue-10,
  'primary-fixed': color-token.$blue-90,
  'on-primary-seed': color-token.$blue-100,
  'primary-seed': color-token.$blue-20,
  'on-primary-seed-variant': color-token.$blue-80,
  'on-primary-container': color-token.$blue-90,
  'primary-fixed-dim': color-token.$blue-80,
  'primary-container': color-token.$blue-30,
  'on-primary': color-token.$blue-20,
  'primary': color-token.$blue-80,
  'elevation-1': (
    0 0.0625rem 0.125rem 0 rgb(0 0 0 / 30%),
    0 0.0625rem 0.1875rem 0.0625rem rgb(0 0 0 / 15%),
  ),
  'elevation-2': (
    0 0.0625rem 0.125rem 0 rgb(0 0 0 / 30%),
    0 0.125rem 0.375rem 0.125rem rgb(0 0 0 / 15%),
  ),
  'elevation-3': (
    0 0.0625rem 0.1875rem 0 rgb(0 0 0 / 30%),
    0 0.25rem 0.5rem 0.1875rem rgb(0 0 0 / 15%),
  ),
  'elevation-4': (
    0 0.125rem 0.1875rem 0 rgb(0 0 0 / 30%),
    0 0.375rem 0.625rem 0.25rem rgb(0 0 0 / 15%),
  ),
  'elevation-5': (
    0 0.25rem 0.25rem 0 rgb(0 0 0 / 30%),
    0 0.5rem 0.75rem 0.375rem rgb(0 0 0 / 15%),
  ),
);
