*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  color-scheme: light dark;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
