@use 'sass:map';

$bp-gt: (
  'sm': 20rem,
  // 320px
  'md': 40rem,
  // 640px
  'lg': 60rem,
  // 960px
  'xl': 80rem,
  // 1280px
  'xxl': 100rem,
  // 1600px
);
$container-px: (
  'sm': 1.25rem,
  'md': 2.5rem,
  'lg': 5rem,
  'xl': 5rem,
  'xxl': 5rem,
);
$container-px-variant: (
  'sm': 0.25rem,
  'md': 1rem,
  'lg': 3.5rem,
  'xl': 3.5rem,
  'xxl': 3.5rem,
);
$container-py: (
  'sm': 2.5rem,
  'md': 2.5rem,
  'lg': 2.5rem,
  'xl': 2.5rem,
  'xxl': 2.5rem,
);
$container-gx: (
  'sm': 2.5rem,
  'md': 2.5rem,
  'lg': 2.5rem,
  'xl': 2.5rem,
  'xxl': 2.5rem,
);
$container-gy: (
  'sm': 2.5rem,
  'md': 2.5rem,
  'lg': 2.5rem,
  'xl': 2.5rem,
  'xxl': 2.5rem,
);
$hangul-20ch-px: 20.7105rem;

// $notice-widget-w: (
//   '30': 1.5 * $hangul-20ch,
//   '40': 2 * $hangul-20ch,
//   '50': 2.5 * $hangul-20ch,
//   '60': 3 * $hangul-20ch,
//   '70': 3.5 * $hangul-20ch,
//   '80': 4 * $hangul-20ch,
// );
$static-px-min: 0.5rem;
$static-w-variant-max: 67rem;
$nav-bar-h: 4rem;
$nav-rail-w: 7.5rem;

//ss
$container-w-max: 64rem;
$hangul-20ch: 30.873ch;
$notice-px: 0.25rem;
$notice-gx: 1rem;
$button-standard-px: 0.75rem;
$chip-interaction-h: 3rem;
$search-widget-w-min: 20rem;
$notice-widget-w-min: calc($hangul-20ch * 2 + $notice-gx + 5ch);
