@use 'sass:map';

$bp-gt: (
  'sm': 20rem,
  // 320px
  'md': 40rem,
  // 640px
  'lg': 60rem,
  // 960px
  'xl': 80rem,
  // 1280px
  'xxl': 100rem,
  // 1600px
);
$px: (
  'sm': 1.25rem,
  'md': 2.5rem,
  'lg': 5rem,
  'xl': 5rem,
  'xxl': 5rem,
);
$px-variant: (
  'sm': 0.25rem,
  'md': 1rem,
  'lg': 3.5rem,
  'xl': 3.5rem,
  'xxl': 3.5rem,
);
$py: (
  'sm': 2.5rem,
  'md': 2.5rem,
  'lg': 2.5rem,
  'xl': 2.5rem,
  'xxl': 2.5rem,
);
$gap-x: (
  'sm': 1.5rem,
  'md': 2.5rem,
  'lg': 3.5rem,
  'xl': 3.5rem,
  'xxl': 3.5rem,
);
$gap-y: (
  'sm': 2.5rem,
  'md': 2.5rem,
  'lg': 2.5rem,
  'xl': 2.5rem,
  'xxl': 2.5rem,
);
$han-20ch-px: 20.7105rem;
$han-20ch: 30.873ch;
$notice-widget-w: (
  '30': 1.5 * $han-20ch,
  '40': 2 * $han-20ch,
  '50': 2.5 * $han-20ch,
  '60': 3 * $han-20ch,
  '70': 3.5 * $han-20ch,
  '80': 4 * $han-20ch,
);
$static-px-min: 0.5rem;
$static-w-max: 64rem;
$static-w-variant-max: 67rem;
$static-nav-bar-h: 3.5rem;
$static-nav-rail-w: 7.5rem;
