@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:selector';
@use './typography.semantic' as ts;
@use './color.semantic' as cs;

$theme: cs.$light;

// $theme: cs.$dark;

@function get-color($key) {
  @return map.get($theme, $key);
}

@function get-transparent($c, $a) {
  @return color.change($c, $alpha: $a);
}

@function get-states($fg) {
  $states: get-transparent($fg, 0), get-transparent($fg, 0.08),
    get-transparent($fg, 0.12), get-transparent($fg, 0.16);

  @return $states;
}

@mixin set-transition($transition-property) {
  transition: $transition-property 200ms cubic-bezier(0.2, 0, 0, 1);
}

@mixin set-states($bg, $fg) {
  $states: get-states($fg);

  color: $fg;
  background-color: $bg;

  &::after {
    background-color: list.nth($states, 1);

    @include set-transition(background-color);
  }

  &:hover {
    &::after {
      background-color: list.nth($states, 2);
    }
  }

  &:active {
    &::after {
      background-color: list.nth($states, 3);
    }
  }

  @at-root {
    .selected {
      #{selector.unify(&, '::after')} {
        background-color: list.nth($states, 4);
      }
    }
  }
}

@mixin hide-scroll() {
  scrollbar-width: none; /* 스크롤바 감추기 - Firefox */
  -ms-overflow-style: none; /* 스크롤바 감추기 - IE, Edge */

  /* Webkit 브라우저에 대한 스크롤바 감추기 */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
}

@mixin set-h1 {
  word-break: keep-all;
  overflow-wrap: break-word;

  @include ts.display;
}

@mixin set-h2 {
  word-break: keep-all;
  overflow-wrap: break-word;

  @include ts.headline;
}

@mixin set-h3 {
  word-break: keep-all;
  overflow-wrap: break-word;

  @include ts.title;
}

@mixin set-h4 {
  word-break: keep-all;
  overflow-wrap: break-word;

  @include ts.subtitle;
}
