@use 'sass:map';

// 크기관련 변수
@use 'dimension';

// 모든 문자 변수를 묶은 믹스인
@use 'type-token';

@mixin detail-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale--1; // 12px
  } @else {
    @include type-token.type-scale--1; // 12px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale--1; // 12px
      }
    }
  }
}

@mixin detail($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-0; // 14px
  } @else {
    @include type-token.type-scale-0; // 14px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-0; // 14px
      }
    }
  }
}

@mixin label($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-0(true); // 14px
  } @else {
    @include type-token.type-scale-0(true); // 14px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-0(true); // 14px
      }
    }
  }
}

@mixin body-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-0; // 14px
  } @else {
    @include type-token.type-scale-1; // 16px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-1; // 16px
      }
    }
  }
}

@mixin label-lg($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1(true); // 16px
  } @else {
    @include type-token.type-scale-1(true); // 16px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-1(true); // 16px
      }
    }
  }
}

@mixin title-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1(true); // 16px
  } @else {
    @include type-token.type-scale-2(true); // 18px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-2(true); // 18px
      }
    }
  }
}

@mixin body($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1; // 16px
  } @else {
    @include type-token.type-scale-2; // 18px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-2; // 18px
      }
    }
  }
}

@mixin subtitle-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1(true, true); // 16px
  } @else {
    @include type-token.type-scale-4(true, true); // 20px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-4(true, true); // 20px
      }
    }
  }
}

@mixin subtitle($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-2(true, true); // 18px
  } @else {
    @include type-token.type-scale-5(true, true); // 22px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-5(true, true); // 22px
      }
    }
  }
}

@mixin title($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-3(true, true); // 20px
  } @else {
    @include type-token.type-scale-7(true, true); // 28px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-7(true, true); // 28px
      }
    }
  }
}

@mixin title-lg($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-5(true, true); // 25px
  } @else {
    @include type-token.type-scale-9(true, true); // 36px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-9(true, true); // 36px
      }
    }
  }
}

@mixin title-xl($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-8(true, true); // 36px
  } @else {
    @include type-token.type-scale-12(true, true); // 58px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-12(true, true); // 58px
      }
    }
  }
}

@mixin title-xxl($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-12(true, true); // 58px
  } @else {
    @include type-token.type-scale-16(true, true); // 92px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-16(true, true); // 92px
      }
    }
  }
}
