@use 'sass:map';
@use 'variables' as var;
@use './typography.token' as tt;

@mixin label-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale--1;
  } @else {
    @include tt.type-scale-0;
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-0;

        font-weight: 500;
      }
    }
  }
}

@mixin label($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-0;
  } @else {
    @include tt.type-scale-0;
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-0;

        font-weight: 500;
      }
    }
  }
}

@mixin label-lg($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-1;
  } @else {
    @include tt.type-scale-1;
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-1;

        font-weight: 500;
      }
    }
  }
}

@mixin caption($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-0;
  } @else {
    @include tt.type-scale-0;
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-0;

        font-weight: 400;
      }
    }
  }
}

@mixin body-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-0;
  } @else {
    @include tt.type-scale-1;
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-1;

        font-weight: 400;
      }
    }
  }
}

@mixin body($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-1;
  } @else {
    @include tt.type-scale-2;
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-2;

        font-weight: 400;
      }
    }
  }
}

@mixin title-sm($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-3;
  } @else {
    @include tt.type-scale-4;
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-4;

        font-weight: 700;
      }
    }
  }
}

@mixin title($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-5;
  } @else {
    @include tt.type-scale-7;
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-7;

        font-weight: 700;
      }
    }
  }
}

@mixin headline($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-8;
  } @else {
    @include tt.type-scale-11;
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-11;

        font-weight: 700;
      }
    }
  }
}

@mixin display($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include tt.type-scale-12;
  } @else {
    @include tt.type-scale-16;
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(var.$bp-gt, 'md')) {
      & {
        @include tt.type-scale-16;

        font-weight: 700;
      }
    }
  }
}
