@use 'sass:map';
@use 'dimension';
@use 'type-token';

@mixin detail--1($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale--1; // 12px
  } @else {
    @include type-token.type-scale--1; // 12px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale--1; // 12px
      }
    }
  }
}

@mixin detail($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-0; // 14px
  } @else {
    @include type-token.type-scale-0; // 14px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-0; // 14px
      }
    }
  }
}

@mixin label($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-0(true); // 14px
  } @else {
    @include type-token.type-scale-0(true); // 14px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-0(true); // 14px
      }
    }
  }
}

@mixin body-out($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-0; // 14px
  } @else {
    @include type-token.type-scale-1; // 16px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-1; // 16px
      }
    }
  }
}

@mixin label-1($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1(true); // 16px
  } @else {
    @include type-token.type-scale-1(true); // 16px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-1(true); // 16px
      }
    }
  }
}

@mixin title-out($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1(true); // 16px
  } @else {
    @include type-token.type-scale-2(true); // 18px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-2(true); // 18px
      }
    }
  }
}

@mixin body($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1; // 16px
  } @else {
    @include type-token.type-scale-2; // 18px
  }

  font-weight: 400;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-2; // 18px
      }
    }
  }
}

@mixin title--2($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-1(true); // 16px
  } @else {
    @include type-token.type-scale-4(true); // 20px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-4(true); // 20px
      }
    }
  }
}

@mixin title--1($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-2(true); // 18px
  } @else {
    @include type-token.type-scale-5(true); // 22px
  }

  font-weight: 500;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-5(true); // 22px
      }
    }
  }
}

@mixin title($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-3(true); // 20px
  } @else {
    @include type-token.type-scale-7(true); // 28px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-7(true); // 28px
      }
    }
  }
}

@mixin title-1($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-5(true); // 25px
  } @else {
    @include type-token.type-scale-9(true); // 36px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-9(true); // 36px
      }
    }
  }
}

@mixin title-2($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-8(true); // 36px
  } @else {
    @include type-token.type-scale-12(true); // 58px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-12(true); // 58px
      }
    }
  }
}

@mixin title-3($on-lg-screen: false) {
  @if not($on-lg-screen) {
    @include type-token.type-scale-12(true); // 58px
  } @else {
    @include type-token.type-scale-16(true); // 92px
  }

  font-weight: 700;

  @at-root {
    @media (width > map.get(dimension.$bp-gt, 'md')) {
      & {
        @include type-token.type-scale-16(true); // 92px
      }
    }
  }
}
