@mixin hide-scroll() {
  scrollbar-width: none; /* 스크롤바 감추기 - Firefox */
  -ms-overflow-style: none; /* 스크롤바 감추기 - IE, Edge */

  /* Webkit 브라우저에 대한 스크롤바 감추기 */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
}
