$bp-gt: (
  'sm': 20rem,
  // 320px
  'md': 40rem,
  // 640px
  'lg': 60rem,
  // 960px
  'xl': 80rem,
  // 1280px
  'xxl': 100rem,
  // 1600px
);
$px: (
  'sm': 1.5rem,
  'md': 2.5rem,
  'lg': 5.5rem,
  'xl': 5.5rem,
);
$py: (
  'sm': 1.5rem,
  'md': 2rem,
  'lg': 2.5rem,
  'xl': 3.5rem,
);
$gap-x: (
  'sm': 1rem,
  'md': 1.5rem,
  'lg': 2rem,
  'xl': 2rem,
);
$gap-y: (
  'sm': 1.5rem,
  'md': 2rem,
  'lg': 2.5rem,
  'xl': 2.5rem,
);
$notice-widget-w: (
  'mn': 40ch,
  'mdmn': 50ch,
  'md': 60ch,
  'mdmx': 70ch,
  'mx': 80ch,
);
$static-w-mx: 75rem;
$static-nav-bar-h: 3.5rem;
$static-nav-rail-w: 7.5rem;
