@use 'sass:map';
@use '../../style/base';

$layout-link-item-w-mn: 183.47px;
$layout-link-gap-x-sm: 2rem;
$layout-link-gap-y-sm: 1rem;
$layout-link-gap-x: 1.5rem;
$layout-link-gap-y: 0.75rem;

//
$addr-gap-x-sm: 32px;
$addr-gap-x: 32px;
$addr-gap-y-sm: 8px;
$addr-gap-y: 8px;
$layout-info-gap-y-sm: 24px;
$layout-info-gap-x: 56px;
$layout-info-gap-y: 16px;
$img-h: 48px;
$cert-mark-gap-x: 24px;
$cert-info-gap-y: 8px;
$cert-gap-y: 16px;

.footer {
  word-break: keep-all;
  overflow-wrap: break-word;
}

.section {
  &-link {
    color: base.thm-get-color('on-surface');
    background-color: base.thm-get-color('surface-dim');

    @include base.type-label;
  }

  &-info {
    color: base.thm-get-color('on-primary-seed');
    background-color: base.thm-get-color('primary-seed');

    @include base.type-body-sm;
  }
}

.layout {
  &-link {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax($layout-link-item-w-mn, 1fr)
    );
    row-gap: $layout-link-gap-y-sm;
    column-gap: $layout-link-gap-x-sm;
  }

  &-info {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    row-gap: $layout-info-gap-y-sm;
  }
}

.a {
  min-width: min-content;
  max-width: fit-content;
}

.accent {
  color: base.thm-get-color('link-variant');

  &:hover {
    color: base.thm-get-color('link-variant-hover');
  }
}

.logo {
  grid-row: 1;
  grid-column: 1;

  svg {
    height: $img-h;
  }
}

.addr {
  grid-row: 2;
  grid-column: 1;
  container-type: inline-size;

  &-grid {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(
        min-content,
        max-content
      );
    column-gap: $addr-gap-x-sm;
  }

  &-each {
    min-width: min-content;
    max-width: fit-content;
  }
}

.cert {
  display: flex;
  flex-direction: column;
  grid-row: 3;
  grid-column: 1;
  gap: $cert-gap-y;
  min-width: min-content;
  max-width: fit-content;

  @include base.type-caption;

  &-mark {
    display: flex;
    gap: $cert-mark-gap-x;
    width: fit-content;

    > * {
      height: $img-h;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: $cert-info-gap-y;
  }
}

.copyright {
  grid-row: 4;
  grid-column: 1;

  @include base.type-caption;
}

@container (inline-size < 26.0625rem) {
  .addr {
    &-grid {
      grid-template-columns: 1fr;
      grid-template-row: min-content min-content;
      row-gap: $addr-gap-y-sm;
    }
  }
}

@media (width > map.get(base.$dim-bp-gt, 'md')) {
  .layout {
    &-link {
      row-gap: $layout-link-gap-y;
      column-gap: $layout-link-gap-x;
    }

    &-info {
      grid-template-rows: min-content max-content min-content;
      grid-template-columns: 1fr min-content;
      row-gap: $layout-info-gap-y;
      column-gap: $layout-info-gap-x;
    }
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
  }

  .addr {
    grid-row: 2;
    grid-column: 1;

    &-grid {
      grid-template-columns: minmax(min-content, max-content) minmax(
          min-content,
          max-content
        );
      column-gap: $addr-gap-x;
    }
  }

  .cert {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  .copyright {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  @container (inline-size < 26.0625rem) {
    .addr {
      &-grid {
        grid-template-columns: 1fr;
        grid-template-row: min-content min-content;
        row-gap: $addr-gap-y;
      }
    }
  }
}

@media (width > map.get(base.$dim-bp-gt, 'lg')) {
}

@media (width > map.get(base.$dim-bp-gt, 'xl')) {
  .layout {
    &-link {
      display: flex;
      flex-wrap: wrap;
      row-gap: $layout-link-gap-y;
      column-gap: $layout-link-gap-x;
      justify-content: space-between;
    }
  }
}

@media (width > map.get(base.$dim-bp-gt, 'xxl')) {
}
