@use 'sass:map';
@use '../../style/base';

.Footer {
  word-break: keep-all;
  overflow-wrap: break-word;

  .section-link {
    color: base.func-get-color('on-dark-surface');
    background-color: base.func-get-color('dark-surface');

    @include base.typo-label;

    .container {
      container-type: inline-size;
    }

    .layout {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.5rem;

      > * {
        flex-basis: 100%;
      }
    }
  }

  .section-info {
    color: base.func-get-color('on-primary-seed');
    background-color: base.func-get-color('primary-seed');

    .container {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    .logo {
      svg {
        height: 3rem;
      }
    }

    .addresses {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    .address {
      display: flex;
      column-gap: 0.5rem;
    }

    .address-title {
      flex-shrink: 0;
    }

    .address-info {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.25rem;
      column-gap: 0.5rem;
    }
  }
}

@media (width >= map.get(base.$var-bp-gte,'md')) {
}

@media (width >= map.get(base.$var-bp-gte,'lg')) {
  .Footer {
    .info {
      .container {
        row-gap: 1.5rem;
      }

      .logo {
        svg {
          height: 3.5rem;
        }
      }

      .addresses {
        row-gap: 0.75rem;
      }

      .address {
        column-gap: 0.5625rem;
      }

      .address-info {
        row-gap: 0.5rem;
        column-gap: 0.5625rem;
      }
    }
  }
}

@media (width >= map.get(base.$var-bp-gte,'xl')) {
}

@container (inline-size >= 23.4375rem) {
  .Footer {
    .section-link {
      .layout {
        > * {
          flex-basis: 50%;
        }
      }
    }
  }
}

@container (inline-size >= 37.5rem) {
  .Footer {
    .section-link {
      .layout {
        > * {
          flex-basis: calc(100% / 3);
        }
      }
    }
  }
}

@container (inline-size >= 52.5rem) {
  .Footer {
    .section-link {
      .layout {
        flex-wrap: nowrap;
        justify-content: space-between;

        > * {
          flex-basis: unset;
        }
      }
    }
  }
}
