@use '../../style/base';

.tab {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 3.0625rem;

  &-control-button {
    position: relative;
    flex-basis: 3rem;
    flex-shrink: 0;
    height: 3rem;

    @include base.style-buttonize;

    .area-visible {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include base.style-set-states(
        transparent,
        base.theme-get-val('primary')
      );
    }
  }

  &-viewport {
    position: relative;
    flex-grow: 1;
    height: 3.0625rem;
    overflow: hidden;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      height: 0.0625rem;
      content: '';
      background-color: base.theme-get-val('outline');
    }
  }

  &-scroll {
    display: flex;
    justify-content: start;
    max-width: 100%;
    height: 3rem;
    overflow-x: scroll;

    @include base.style-hide-scrollbar;
  }

  &[data-has-control='false'] {
    .tab-control-button {
      display: none;
    }
  }

  &-button {
    position: relative;
    flex-grow: 1;
    min-width: fit-content;
    height: 3rem;

    @include base.style-buttonize;
    @include base.type-label;

    .area-visible {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-inline: 1rem;

      @include base.style-set-states(
        transparent,
        base.theme-get-val('primary')
      );
    }

    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 0.0625rem;
      content: '';
      background-color: base.theme-get-val('primary');
      transform: scaleX(0);
      transform-origin: center;

      @include base.style-set-transition(transform);
    }

    &.selected {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
