@use '../../style/base';

.tab {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  grid-row: min-content;
  height: 3.0625rem;
  overflow: hidden;

  // border-radius: 0.25rem 0.25rem 0 0;

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.0625rem;
    content: '';
    background-color: base.theme-get-val('outline');
  }

  &-btn {
    position: relative;
    grid-row: 1;
    height: 3rem;

    @include base.style-buttonize;
    @include base.type-label;

    .area-visible {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include base.style-set-states(
        transparent,
        base.theme-get-val('primary')
      );
    }

    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 0.0625rem;
      content: '';
      background-color: base.theme-get-val('primary');
      transform: scaleX(0);
      transform-origin: center;

      @include base.style-set-transition(transform);
    }

    &.selected {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
