@use 'sass:map';
@use './style/base';

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  line-height: 1.5;
  color: base.thm-get-color('on-surface');
  word-break: break-all;
  overflow-wrap: anywhere;
  background-color: base.thm-get-color('surface-container-highest');

  @include base.type-body-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
  overflow-wrap: break-word;
}

h1 {
  @include base.type-title-3;
}

h2 {
  @include base.type-title-2;
}

h3 {
  @include base.type-title-1;
}

h4 {
  @include base.type-title;
}

h5 {
  @include base.type-title--1;
}

h6 {
  @include base.type-title--2;
}

#root {
  position: relative;
  width: 100%;
  min-width: 20rem;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1024;
  height: base.$dim-static-nav-bar-h;
  background-color: base.thm-get-color('primary-seed');
}

.nav-rail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1024;
  display: none;
  width: base.$dim-static-nav-rail-w;
}

.imagery {
  // 1:1 < height < 3:4
  height: clamp(100vw, 100dvh, calc(100vw * 4 / 3));
  background-color: base.thm-get-color('surface-dim');

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.widget {
  $px: map.get(base.$dim-px, 'sm');
  $py: map.get(base.$dim-py, 'sm');

  padding-block: $py;
  padding-inline: $px;
  background-color: base.thm-get-color('surface');

  &__wrap {
    $gap-x: map.get(base.$dim-gap-x, 'sm');
    $gap-y: map.get(base.$dim-gap-y, 'sm');

    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: $gap-y;
    column-gap: $gap-x;
    max-width: base.$dim-static-w-mx;
    margin-inline: auto;
  }
}

.container {
  $px: map.get(base.$dim-px, 'sm');
  $py: map.get(base.$dim-py, 'sm');

  width: min(base.$dim-static-w-mx, calc(100% - 2 * $px));
  padding-block: $py;
  margin-inline: auto;
}

main,
footer {
  background-color: base.thm-get-color('surface-container');
}

@media (width > map.get(base.$dim-bp-gt, 'md')) {
  $px: map.get(base.$dim-px, 'md');
  $py: map.get(base.$dim-py, 'md');
  $gap-x: map.get(base.$dim-gap-x, 'md');
  $gap-y: map.get(base.$dim-gap-y, 'md');

  .widget {
    padding-block: $py;
    padding-inline: $px;

    &__wrap {
      row-gap: $gap-y;
      column-gap: $gap-x;
    }
  }

  .container {
    width: min(base.$dim-static-w-mx, calc(100% - 2 * $px));
    padding-block: $py;
  }
}

@media (width > map.get(base.$dim-bp-gt, 'lg')) {
  $px: map.get(base.$dim-px, 'lg');
  $py: map.get(base.$dim-py, 'lg');
  $gap-x: map.get(base.$dim-gap-x, 'lg');
  $gap-y: map.get(base.$dim-gap-y, 'lg');

  body {
    word-break: keep-all;
    overflow-wrap: break-word;
  }

  .grid {
    display: grid;

    // 16:9 < height < 4:3
    grid-template-rows: clamp(
      calc(100vw - base.$dim-static-nav-rail-w) * 9 / 16,
      100dvh,
      calc((100vw - base.$dim-static-nav-rail-w) * 3 / 4)
    );
    grid-template-columns: base.$dim-static-nav-rail-w minmax(0, 1fr);

    > * {
      grid-column: 2;
    }
  }

  .nav-bar {
    display: none;
  }

  .nav-rail {
    display: block;
  }

  .imagery {
    height: unset;
  }

  .widget {
    padding-block: $py;
    padding-inline: $px;

    &__wrap {
      row-gap: $gap-y;
      column-gap: $gap-x;
    }
  }

  .container {
    width: min(base.$dim-static-w-mx, calc(100% - 2 * $px));
    padding-block: $py;
  }
}

@media (width > map.get(base.$dim-bp-gt, 'xl')) {
  $px: map.get(base.$dim-px, 'xl');
  $py: map.get(base.$dim-py, 'xl');
  $gap-x: map.get(base.$dim-gap-x, 'xl');
  $gap-y: map.get(base.$dim-gap-y, 'xl');

  .widget {
    padding-block: $py;
    padding-inline: $px;

    &__wrap {
      grid-template-rows: min-content;
      grid-template-columns:
        minmax(20rem, 30rem)
        minmax(map.get(base.$dim-notice-widget-w, '40'), 1fr);
      row-gap: $gap-y;
      column-gap: $gap-x;
      align-items: center;
    }
  }

  .container {
    width: min(base.$dim-static-w-mx, calc(100% - 2 * $px));
    padding-block: $py;
  }
}

@media (width > map.get(base.$dim-bp-gt, 'xxl')) {
  $px: map.get(base.$dim-px, 'xxl');
  $py: map.get(base.$dim-py, 'xxl');
  $gap-x: map.get(base.$dim-gap-x, 'xxl');
  $gap-y: map.get(base.$dim-gap-y, 'xxl');

  .grid {
    // 56.25rem < height < 100dvh
    grid-template-rows: minmax(56.25rem, 100dvh);

    // fix later
    grid-template-columns:
      base.$dim-static-nav-rail-w minmax(0, 1fr)
      calc(map.get(base.$dim-notice-widget-w, '40') + 2 * $px);

    > * {
      grid-column: 2 / -1;
    }
  }

  .imagery {
    grid-column: 2;
  }

  .widget {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    justify-content: center;
    padding-block: $py;
    padding-inline: $px;

    &__wrap {
      grid-template-rows: min-content min-content;
      grid-template-columns: minmax(0, 1fr);
      row-gap: $gap-y;
      column-gap: $gap-x;
    }
  }

  .container {
    width: min(base.$dim-static-w-mx, calc(100% - 2 * $px));
    padding-block: $py;
  }
}
